/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDialogContainer {
  background-image: url("chrome://branding/content/about-background.png");
  background-repeat: no-repeat;
  background-color: #00acff;
  color: #090909;
}

/*
firefox-85.0/browser/base/content/aboutDialog.css
firefox-85.0/browser/base/content/aboutDialog.js
firefox-85.0/browser/base/content/aboutDialog.xhtml
*/
/* enable this below for ESR version */
/* #release { display: inline; } */


.text-link {
  color: #101010 !important;
  text-decoration: underline;
}

#rightBox {
    /* border: 1px solid red; */
    /* this margin prevents text from overlapping the planet image */
    
    background-image: none; /* getting rid of the 'Nightly' text */
    
    margin-left: 275px;
    margin-top: 50px;
    margin-right: 20px;

    min-height: 260px;
}

#bottomBox {
    background-color: rgba(0,0,0,.7);
    display: none;
}

#leftBox {
    /* border: 1px solid red; */
    /* display: none; */
    /* background-image: url("chrome://branding/content/about-logo.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: 192px auto; */
    /* background-position: center 20%; */
    /* min-width and min-height create room for the logo */
    min-width: 1px;
    min-height: 220px;
    margin-top: 20px;
    margin-inline-start: 30px;
}
